body,
html {
    background: #ffffff;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.example6 .navbar-brand {
    background: url(https://app.vpi.pvn.vn/vpioffice/Styles/Images/logo_VPI_1.jpg) left / contain no-repeat;
    width: 275px;
}

.example6 .navbar-brand {
    height: 70px;
}

.example6 .nav>li>a {
    padding-top: 30px;
    padding-bottom: 5px;
}

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 4px 0px 6px 0px rgba(203, 201, 201, 0.42);
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    position: relative;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}




/* overwrite bootstrap */
.navbar-fixed-top {
    box-shadow: -2px 3px 6px 0px rgba(203, 201, 201, 0.42);
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-left: 0px;
    padding: 3px;
}

.navbar-slogan {
    padding-left: 45px;
    font-weight: 800;
}

.navbar-brand>.__top {
    font-size: 12px;
    color: rgb(48, 133, 203);
}

.navbar-brand>.__bottom {
    font-size: 10px;
    color: rgb(233, 49, 57);
    word-spacing: 0.05px;
}

@media (min-width: 1600px) {
    .container {
        width: 1500px !important;
    }
}

.navbar-avatar {
    border-radius: 50%;
    background-color: #cccccc;
    margin-top: 15px;
    width: 50px;
}

.navbar-nav {
    margin: 0;
}

@media (min-width: 768px) {
    .navbar-nav .__navcustom {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: transparent;
        font-weight: bold;
        color: rgb(48, 133, 203);
        font-size: 16px;
        border-bottom: 3px solid rgb(48, 133, 203);
    }

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar-brand {
        padding-right: 0;
    }

    .navbar-slogan {
        padding-left: 45px;
        font-weight: 800;
    }

    .navbar-brand>.__top {
        font-size: 12px;
        color: rgb(48, 133, 203);
    }

    .navbar-brand>.__bottom {
        font-size: 10px;
        color: rgb(233, 49, 57);
        word-spacing: 0.05px;
    }

}

.menu-toggle__custom {
    border-radius: 50%;
    background: radial-gradient(circle,
            rgb(216, 113, 113) 20%,
            rgba(255, 255, 255, 0.7287289915966386) 26%,
            rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, 0.9360119047619048) 39%,
            rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 0.8547794117647058) 57%,
            rgba(255, 255, 255, 0) 66%);
    width: 30px;
    height: 30px;
}

.treeview .list-group-item {
    cursor: pointer;
    border: 0px solid #ddd;
    font-weight: bold;
    color: #a7a7a7;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: rgb(48, 133, 203);
    background-color: #ffffff;
}

.dataTables_wrapper .dataTables_filter>label>input {
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.__container-table {
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}


/* animation */
#pvi_content {
    -webkit-animation-name: mymove;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s;
    /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 6s;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mymove {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

#selector {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgb(48, 133, 203);
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
}

@keyframes loading {
    0% {
        transform: translateY(0px);
        background-color: rgb(48, 133, 203);
    }

    50% {
        transform: translateY(50px);
        background-color: rgb(233, 49, 57);
    }

    100% {
        transform: translateY(0px);
        background-color: rgb(48, 133, 203);
    }
}

.circle-1 {
    animation-delay: 0.1s;
}

.circle-2 {
    animation-delay: 0.2s;
}

.circle-3 {
    animation-delay: 0.3s;
}

.circle-4 {
    animation-delay: 0.4s;
}

.circle-5 {
    animation-delay: 0.5s;
}

.circle-6 {
    animation-delay: 0.6s;
}

.circle-7 {
    animation-delay: 0.7s;
}

.circle-8 {
    animation-delay: 0.8s;
}