#mapid {
    /* margin-left: 20px;
    margin-right: 20px; */
    height: calc(90vh);
}

#container {
    position: relative;
    width: 100%;
    height: 100%;

}

.tree {
    position: absolute;
    width: 200px;
    height: auto;
}

/*define tooltip css */
.leaflet-container {
    font: 10px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-tooltip.class-tooltip {
    background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-right::before {
    display: none;
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-left::before {
    display: none;
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-top::before {
    display: none;
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-bottom::before {
    display: none;
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-right {
    box-shadow: none;
    font-weight: bold;
    transform: translate3d(229px, 152px, 0px);
}

.leaflet-tooltip.class-tooltip.leaflet-zoom-animated.leaflet-tooltip-left {
    box-shadow: none;
    font-weight: bold;
    transform: translate3d(229px, 152px, 0px);
}
.title{
    color: #2d84d0;
    font-weight: bold;
}

/* .inputNumb {
    width: 50px;
}
.inputText {
    border-radius: 3px;
    width: 80px;
}
.form-control {
    width: 100px !important;
    float: left;
} */

/* .control, fieldset {
    margin: 6px 0;
  } */
  
  /* label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  } */
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
